@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  overflow: visible; /* overflow 관련 설정은 기본값을 유지 */
}

:root {
  --max-width: 1440px;
}

body {
  margin: 0;
  overflow: auto; /* body에서 스크롤 가능하도록 설정 */
}
