.background {
  background: linear-gradient(0, #98e4ff, #80b3ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gyIsland {
  width: 45vw;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 28%;
  height: fit-content;
}

.lIsland {
  width: 45vw;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 55%;
  right: -15%;
  height: fit-content;
}
