.background {
  background: linear-gradient(0, #98e4ff, #80b3ff);
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gyIsland {
  width: 45vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 28%;
  height: fit-content;
  cursor: pointer;
}

.lIsland {
  width: 45vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  right: -15%;
  height: fit-content;
  cursor: pointer;
}

.roomImg {
  width: 100%;
  position: absolute;
  bottom: 0;
}
