.background {
  background: linear-gradient(0, #745c97, #39375b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gyIsland {
  width: 45vw;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 28%;
  height: fit-content;
  cursor: pointer;
}

.lIsland {
  width: 45vw;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 55%;
  right: -15%;
  height: fit-content;
  cursor: pointer;
}

.roomImg {
  width: 100%;
}
