/* .background {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
} */

/* background-image: linear-gradient(to bottom, #80b3ff 0%, #98e4ff 50%); */
