* {
  font-family: 'SeoulHangangM';
}

.container {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 2vw;
}

.logo {
  width: 80px;
  height: fit-content;
  cursor: pointer;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상 상속 */
  display: block;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2vw;
  min-height: 5vw;
}

.navItem {
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10vw;
}

.navLink {
  font-size: 28px;
  font-weight: 550;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultText,
.hoverText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

.hoverText {
  display: none;
}

.navItem:hover .defaultText {
  display: none;
}

.navItem:hover .hoverText {
  display: block;
}
